<!-- <div class="container-fluid m-0"> -->
<div class="row mx-0 mt-3">
    <h4 id="design" class="col-sm-12 text-dark">Services</h4>
    <div class="px-4 col-sm-12">
        <div class="row mx-0 px-4">
            <div class="col-sm-3 py-3 m-3">
                <div class="card">
                    <img src="../../assets/images/homepage_img.5.png" class="card-img-top" alt="webpic">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 py-3 m-3">
                <div class="card">
                    <img src="../../assets/images/homepage_img.5.png" class="card-img-top" alt="webpic">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 py-3 m-3">
                <div class="card">
                    <img src="../../assets/images/homepage_img.5.png" class="card-img-top" alt="webpic">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->